.featureCard {
  padding: 2rem;
  margin: 1rem 1rem 1rem 1rem;
  text-align: left;
  color: var(--text-color, #5C4033); /* Utilizing the global variable for text color */
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}
  
  .featureCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }
  